<h1 id="tableLabel">Product Group Index</h1>



<p *ngIf="!ProductGroupList"><em class="text-info">Loading...</em></p>

<div class="btn-group">
  <button class="btn btn-primary" (click)="LoadList()">
    Refresh
  </button>

  <button type="button" data-toggle="modal" data-target="#CategoryModal" class="btn btn-success">
    Create New
  </button>
  <button type="button" [useExistingCss]="true" styleSheetFile="style.css" class="btn btn-info" printSectionId="print-section"  ngxPrint>
  Print
  </button>
</div>


<div id="print-section">
  <table id="" class="table table-striped table-bordered dt-responsive nowrap" aria-labelledby="tableLabel" *ngIf="ProductGroupList">
    <thead>
      <tr>
        <th>Group Id</th>
        <th>Group Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of ProductGroupList | paginate: {itemsPerPage: 10, currentPage: p}">
        <td>{{ p.GroupId }}</td>
        <td>{{ p.GroupName }}</td>
        <td class="btn-group">
          <button class="btn btn-primary" (click)="GetGroup(p.GroupId)">Edit</button>
          <button class="btn btn-danger" (click)="DeleteConfirmation(p)">Delete</button>
        </td>
      </tr>
      <tr *ngIf="ProductGroupList.Count == 0">
        <th colspan="4" class="text-center text-warning">No data available</th>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="text-right">
          <pagination-controls (pageChange)="p =$event"></pagination-controls>
        </td>
      </tr>
    </tfoot>
  </table>



</div>


<!-- Modal -->
<div class="modal fade" id="CategoryModal" tabindex="-1" role="dialog" aria-labelledby="CategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content" #form="ngForm" (ngSubmit)="form.form.valid && SubmitGroup(form)" autocomplete="off" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title" id="CategoryModalLabel">New Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" [(ngModel)]="ProductGroup.GroupId" name="GroupId"
                 #GroupId="ngModel"  />

        <div class="form-group">
          <label>Group Name</label>
          <input type="text" class=" form-control" [(ngModel)]="ProductGroup.GroupName" name="GroupName"
                 #GroupName="ngModel" [ngClass]="{ 'is-invalid': form.submitted &&  GroupName.invalid }" required />
        </div>
        <!--<div class="form-group">
          <label>Date</label>
          <input type="date" class=" form-control" [(ngModel)]="Brand.RecordDate" name="RecordDate"
                 #RecordDate="ngModel" [ngClass]="{ 'is-invalid': form.submitted && RecordDate.invalid }" required />
        </div>-->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Cancel(form)">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>



<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="CategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CategoryModalLabel">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="h2 text-warning">Delete {{ProductGroup.GroupName}}?</span>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="DeleteCategory(Category.CatId)">Yes</button>
      </div>
    </div>
  </div>
</div>

