<h1 id="tableLabel">Stocks Index</h1>



<p *ngIf="!StocksList"><em class="text-info">Loading...</em></p>

<div class="btn-group">
  <button class="btn btn-primary" (click)="LoadList()">
    Refresh
  </button>

  <button type="button" data-toggle="modal" data-target="#StocksModal" class="btn btn-success">
    Create New
  </button>
  <button type="button" [useExistingCss]="true" styleSheetFile="style.css" class="btn btn-info" printSectionId="print-section"  ngxPrint>
  Print
  </button>
</div>


<div id="print-section">
  <table id="" class="table table-striped table-bordered dt-responsive nowrap" aria-labelledby="tableLabel" *ngIf="StocksList">
    <thead>
      <tr>
        <th>Stock Id</th>
        <th>Product Id</th>
        <th>Size Id</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of StocksList | paginate: {itemsPerPage: 10, currentPage: p}">
        <td>{{ p.StockId }}</td>
        <td>{{ p.ProductId }}</td>
        <td>{{ p.SizeId }}</td>
        <td>{{ p.Quantity }}</td>
        <td>{{ p.UnitPrice }}</td>
      
        
        <td class="btn-group">
          <button class="btn btn-primary" (click)="GetStocks(p.StockId)">Edit</button>
          <button class="btn btn-danger" (click)="DeleteConfirmation(p)">Delete</button>
        </td>
      </tr>
      <tr *ngIf="StocksList.Count == 0">
        <th colspan="4" class="text-center text-warning">No data available</th>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6" class="text-right">
          <pagination-controls (pageChange)="p =$event"></pagination-controls>
        </td>
      </tr>
    </tfoot>
  </table>
</div>


<!-- Modal -->
<div class="modal fade" id="StocksModal" tabindex="-1" role="dialog" aria-labelledby="StocksModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content" #form="ngForm" (ngSubmit)="form.form.valid && SubmitStocks(form)" autocomplete="off" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title" id="StocksModalLabel">Add Stocks</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" [(ngModel)]="Stocks.StockId" name="StockId"
               #StockId="ngModel" />
        <div class="form-group">
          <label>Product Name</label>
          <select class=" form-control" [(ngModel)]="Stocks.ProductId" name="ProductId"
                  #ProductId="ngModel" [ngClass]="{ 'is-invalid': form.submitted && ProductId.invalid }" required>

            <option value="undefined">
              Please select Value
            </option>
            <option *ngFor="let Products of ProductsList" [ngValue]="Products.ProductId">
              {{Products.ProductName}}
            </option>
          </select>

        </div>

        <div class="form-group">
          <label>Size Value</label>
          <select class=" form-control" [(ngModel)]="Stocks.SizeId" name="SizeId"
                  #SizeId="ngModel" [ngClass]="{ 'is-invalid': form.submitted && SizeId.invalid }" required>

            <option value="undefined">
              Please select Value
            </option>
            <option *ngFor="let Sizes of SizesList" [ngValue]="Sizes.SizeId">
              {{Sizes.SizeValue}}
            </option>
          </select>

        </div>

        <div class="form-group">
          <label>Product Quantity</label>
          <input type="number" class=" form-control" [(ngModel)]="Stocks.Quantity" name="Quantity"
                 #Quantity="ngModel" [ngClass]="{ 'is-invalid': form.submitted &&  Quantity.invalid }" required />
        </div>
        <div class="form-group">
          <label>Unit Price</label>
          <input type="number" class=" form-control" [(ngModel)]="Stocks.UnitPrice" name="UnitPrice"
                 #UnitPrice="ngModel" [ngClass]="{ 'is-invalid': form.submitted &&  UnitPrice.invalid }" required />
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Cancel(form)">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>



<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="StocksModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="StocksModalLabel">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="h2 text-warning">Delete {{Stocks.StockId}}?</span>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="DeleteStocks(Stocks.StockId)">Yes</button>
      </div>
    </div>
  </div>
</div>

