

  <div class="container-fluid">

    <div class="card col-3 rounded" *ngFor="let p of ProductsList |paginate: {itemsPerPage: 12, currentPage: p} " style="display:inline; float:left; ">
      <div class="card-header">
        <i class="fa fa-minus-square-o" style="font-size:36px;color:red;align-content:flex-start"></i>
        <span class="col-3"></span>
        <span class="text-info h4">Add To Cart</span>
        <span class="col-3"></span>
        <i class="fa fa-plus-square-o" style="font-size:36px;color:blue;align-content:flex-end"></i>
      </div>
      <div class="card-body table-responsive">
        <figure class="img-thumbnail mb-4 rounded" style="height:150px; width:200px; margin:10px;">
          <img [src]="p.Image" alt="{{p.Image}}" class="text-center" style="margin: 0  auto; height:inherit; width:inherit;" />
          <!--<figcaption>{ p.ProductName }}</figcaption>-->
        </figure>
      </div>
      <div class="card-footer btn-group">
        <span class="text-info"> {{ p.ProductName }}</span>
      </div>
    </div>

    <div class="text-right rounded">
      <pagination-controls (pageChange)="p =$event"></pagination-controls>
    </div>


  </div>
