<h1 id="tableLabel">People Index</h1>



<p *ngIf="!PersonList"><em class="text-info">Loading...</em></p>


<div class="btn-group">
  <button class="btn btn-primary" (click)="LoadList()">
    Refresh
  </button>

  <button type="button" data-toggle="modal" data-target="#personModal" class="btn btn-success">
    Create New
  </button>
  <button type="button" [useExistingCss]="true"
          styleSheetFile="styles.css"
          class="btn btn-info" printSectionId="print-section" ngxPrint>
    print
  </button>
</div>

<div id="print-section">


  <table class="table table-striped table-bordered dt-responsive nowrap" aria-labelledby="tableLabel" *ngIf="PersonList">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of PersonList | paginate: { itemsPerPage: 2, currentPage: p }">
        <td>{{ p.id }}</td>
        <td>{{ p.fullName }}</td>
        <td>{{ p.address }}</td>
        <td class="btn-group">
          <button class="btn btn-primary" (click)="GetPerson(p.id)">Edit</button>
          <button class="btn btn-danger" (click)="DeleteConfirmation(p)">Delete</button>
        </td>
      </tr>
      <tr *ngIf="PersonList.Count == 0">
        <th colspan="4" class="text-center text-warning">No data available</th>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="text-right">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </td>
      </tr>
    </tfoot>
  </table>

</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>


<!-- Modal -->
<div class="modal fade" id="personModal" tabindex="-1" role="dialog" aria-labelledby="personModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content" #form="ngForm" (ngSubmit)="form.form.valid && SubmitPerson(form)" autocomplete="off" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title" id="personModalLabel">New Person</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" [(ngModel)]="Person.id" name="id" #id="ngModel" />

        <div class="form-group">
          <label>First Name</label>
          <input type="text" class=" form-control" [(ngModel)]="Person.firstName" name="firstName"
                 #firstName="ngModel" [ngClass]="{ 'is-invalid': form.submitted &&  firstName.invalid }" required />
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class=" form-control" [(ngModel)]="Person.lastName" name="lastName"
                 #lastName="ngModel" [ngClass]="{ 'is-invalid': form.submitted && lastName.invalid }" required />
        </div>

        <div class="form-group">
          <label>Gender</label>
          <input type="radio" class="" [(ngModel)]="Person.gender" name="gender"
                 #gender="ngModel" [ngClass]="{ 'is-invalid': form.submitted && gender.invalid }" required value="Male" />Male
          <input type="radio" class=" " [(ngModel)]="Person.gender" name="gender"
                 #gender="ngModel" [ngClass]="{ 'is-invalid': form.submitted && gender.invalid }" required value="Female" />Female

          <div class="text-danger" *ngIf="form.submitted && gender.invalid ">Select Gender</div>

        </div>

        <div class="form-group">
          <label>Address</label>
          <input type="text" class=" form-control" [(ngModel)]="Person.address" name="address"
                 #address="ngModel" [ngClass]="{ 'is-invalid': form.submitted && address.invalid }" required />
        </div>


        <div class="form-group">

          <figure>
            <div class="img-thumbnail mb-3 " *ngIf="photoPreview">
              <img [src]="photoPreview" width="300" class="text-center" style="margin: 0  auto" />
            </div>
            <figcaption>
              <label>Photo</label>
              <input type="file" class=" form-control" [(ngModel)]="Person.photoUpload" name="photoUpload"
                     #photoUpload="ngModel" (change)="onFileChanged($event)" />
            </figcaption>
          </figure>


        </div>

        <div class="form-group">
          <label>Country</label>
          <select class=" form-control" [(ngModel)]="Person.countryId" name="countryId"
                  #countryId="ngModel" [ngClass]="{ 'is-invalid': form.submitted && countryId.invalid }" required>

            <option value="undefined">
              Please select Value
            </option>
            <option *ngFor="let country of CountryList" [ngValue]="country.countryId">
              {{country.name}}
            </option>
          </select>

        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Cancel(form)">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="personModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="personModalLabel">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="h2 text-warning">Delete {{Person.fullName}}?</span>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="DeletePerson(Person.id)">Yes</button>
      </div>
    </div>
  </div>
</div>

